@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* CSS VARIABLES */

:root {
    --black: #050505;
    --lighter-black: #111111;
    --slate: #afafb4;
}

/* GENERAL */

* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

/* NAVBAR */

nav {
    min-height: 10vh;
    /* max-height: 10vh; */
    width: 100vw;
}

/* MAIN */

main {
    scroll-snap-type: y mandatory;
    overflow: scroll;
    height: 100vh;
}

section {
    min-height: 90vh;

    width: 100vw;
    scroll-snap-align: start;
}

p {
    color: var(--slate);
}

.section-black {
    background-color: var(--black);
}

.carousel-item {
    min-height: 90vh;
    max-height: 90vh;
}

.service_card,
.team-card {
    background-color: var(--lighter-black);
}

/* FOOTER */

footer {
    height: 50vh;
    scroll-snap-align: end;
}

footer .link {
    text-decoration: none;
    color: #000;
}

footer .link:hover {
    color: #6f6f6f;
}

.social-media-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
